.xbox {
  position: relative;
  margin: 50px auto;
}
.xbox img {
  width: 100%;
}
.content1 {
  position: absolute;
  top: 30%;
  left: 7%;
  font-size: 16px;
}
.buttonXbox {
  padding: 10px 30px;
  background-color: #222;
  color: aliceblue;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .content1 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px;
  }
  .buttonXbox {
    padding: 5px 15px;
    background-color: #222;
    color: aliceblue;
    cursor: pointer;
  }
}
