.Count {
  width: 30%;
  margin: 5% 35%;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 5px rgb(245, 238, 229);
}
.button {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 10px;
}
.button button {
  padding: 15px 20px;
  background-color: aqua;
  border: none;
  border-radius: 10px;
}
.button button:hover {
  background-color: rgb(196, 242, 242);
}
