.box {
  padding: 5px 20% !important;
  margin: 0% 20% !important;
  margin-top: 5% !important;
  margin-bottom: 30% !important     ;
  border: 1px solid white;
  height: 150px;
  background-color: white;
  border-radius: 5px;
}
